<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Todonic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- backdrop -->
  <ion-backdrop
    *ngIf="showTaskInput"
    [visible]="showTaskInput"
    (ionBackdropTap)="showTaskInput = false"
  ></ion-backdrop>
  <ion-list>
    <ion-item-divider>
      <ion-label>Projects</ion-label>
      <ion-button (click)="addCategory()" slot="end" fill="clear">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item-divider>
    <ion-item *ngFor="let proj of projects">
      <ion-label>{{ proj.name }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- fab button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showTaskInput = true;">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="showTaskInput">
  <ion-row>
    <ion-col size="12">
      <ion-input
        type="text"
        #taskInput
        autofocus="true"
        [(ngModel)]="task.name"
        placeholder="Add a task"
        class="ion-padding-left"
      ></ion-input>
    </ion-col>
    <!-- always pass the $event when using a popover -->
    <ion-col size="10"
      ><ion-button
        (click)="openProjectPopover($event)"
        fill="outline"
        size="small"
      >
        <div
          class="color-preview-small"
          slot="start"
          [style.background]="task.project.color"
          *ngIf="task.project"
          style="margin-right: 5px"
        ></div>
        {{ task.project ? task.project.name : 'Inbox'}}
      </ion-button>

      <ion-button
        (click)="openPriorityPopover($event)"
        fill="outline"
        size="small"
      >
        <ion-icon
          slot="icon-only"
          name="flag"
          [style.color]="getTaskColor()"
        ></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2" class="ion-no-padding ion-text-right"
      ><ion-button (click)="saveTask()" fill="clear" shape="round">
        <ion-icon
          slot="icon-only"
          name="arrow-up-circle-outline"
        ></ion-icon> </ion-button
    ></ion-col>
  </ion-row>
</ion-footer>
